<!DOCTYPE html>
<html lang="es">
<head>
    <link rel="icon" href="{{ url_for('static', filename='favicon_v2.ico') }}" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Delicias Al Horno{% endblock %}</title>
    
    <!-- Vinculación del archivo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <nav>
        <div class="navbar">
            <div class="container-icon">
                <a href="{{ url_for('inicio') }}">
                    <ion-icon name="arrow-back-outline"></ion-icon>
                </a>
            </div>
            <h1>Delicias Al Horno</h1>
            
            <!-- Botón de Volver en la esquina superior derecha -->
            <a href="{{ url_for('inicio') }}" class="btn-volver">
                <ion-icon name="arrow-back-circle-outline"></ion-icon> Volver
            </a>
        </div>
    </nav>

    <!-- Contenedor principal donde se insertará el contenido específico de cada página -->
        {% block content %}{% endblock %}


    <!-- Scripts de Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/ionicons@5.5.2/dist/css/ionicons.min.css" rel="stylesheet">

</body>
</html>
