<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <div class="navbar">
            <div class="container-icon">
                <a href="{{ url_for('logout') }}">Cerrar sesión</a>
                    <ion-icon name="close-circle-outline"></ion-icon>
                </a>
            </div>
            <h1>Delicias Al Horno</h1>
        </div>
    </nav>

    <div class="ttsecundario">
        <h1>Bienvenido</h1>
    </div> 

    <div class="contenedor-principal">
        <a href="{{ url_for('facturar') }}" class="casilla">Facturar</a>
        <a href="{{ url_for('consultar_facturas') }}" class="casilla">Consultar Facturas</a>
        <a href="{{ url_for('productos') }}" class="casilla">Productos</a>
        <a href="{{ url_for('registrar_producto') }}" class="casilla">Registrar Producto</a>
        <a href="{{ url_for('registrar_cliente') }}" class="casilla">Registrar Cliente</a>
    </div>
    
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
